.colorContainer{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    transition: all 0.5s ease-in-out;
}
.buttonColorGenerator{
    padding: 20px 50px;
    font-size: 36px;
    background-color: aliceblue;
    border-radius: 11px;
    border: none;
    box-shadow: 0 5px 12px 2px rgba(0,0,0,0.15);
    transition: color 0.5s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
    cursor: pointer;
}